*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: darkgray;
}

.cardContainer{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  gap: 1rem;
}

.CostumCard{
  border: 0.1rem solid #000;
  display: inline-block;
  width: 35rem;
  padding: 0.8rem;
  text-align: center;
}

.title{
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(174, 79, 60);
  border-bottom: 0.1rem solid #000;
  display: inline-block;
  margin-bottom: 1rem;
}

.CostumCard button{
  background-color: rgb(255, 162, 0);
  font-weight: bold;
  width: 12rem;
  height: 2rem;
  transition: all 0.2s;
}

.CostumCard button:hover{
  transform: scale(1.2);
  cursor: pointer;
  background-color: rgb(247, 205, 16);
}