*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #FFF;
  }
  
  body{
    background-color: #242424;
  }

  form{
    display: flex;
    flex-direction: column;
    width: 15%;
    gap: 0.5rem;
    margin-left: 20rem;
    margin-top: 10rem;
  }


  .validate{
    background-color: green;
  }

  .invalide{
    background-color: red;
  }